#cloud-config

users:
  - default
  - name: {{ vm_user }}
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - {{ ssh_key }}
    shell: /bin/bash

manage_etc_hosts: true
hostname: {{ vm_name }}
fqdn: {{ vm_name }}.{{ domain_name }}
